/* Error: Undefined function.
 *     ,
 * 134 |         @return math.div($target, 1em) * math.div($context, 1em) * 16 + 0px;
 *     |                 ^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   assets\scss\components\_select.scss 134:17  em2px()
 *   assets\scss\components\_select.scss 145:17  @use
 *   assets\scss\main.scss 16:1                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined function.\a     \2577 \a 134 \2502          @return math.div($target, 1em) * math.div($context, 1em) * 16 + 0px;\d\a     \2502                  ^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   assets\\scss\\components\\_select.scss 134:17  em2px()\a   assets\\scss\\components\\_select.scss 145:17  @use\a   assets\\scss\\main.scss 16:1                  root stylesheet";
}
