/*
Navigations  
*/

@use "../base/variables" as *;

$nav-height: 80px;
$nav-height-mobile: 60px;

.navigation {
  transition-delay: 0.0s;
  transition-duration: 0.6s;
  transition-timing-function: $easing-nav;
  z-index: 999;

  * {
    transition-delay: 0.0s;
    transition-duration: 0.6s;
    transition-timing-function: $easing-nav;
    transition-property: all;
  }

  &.loading {
    * {
      transition-property: none;
    }
  }

  .grid-container {
    display: flex;
    justify-content: space-between;
    height: 55px;
    opacity: 0;
  }

  >div {
    padding: 0 1.2em 0;
  }
}

@mixin nav($base-height) {
.nav-primary {
  position: fixed;
  top: 0;

  /* required */
  height: $base-height;
  width: 100%;
  background: #fff;

  // to-do: make into dark mode feature
  #about-me & {
    background: #0B233D;
    box-shadow: 0px 5px 29px 0px rgb(4 14 25 / 40%);

    &.nav-header-main {
      background: 0 0;
      box-shadow: none;
    }

    .nav-megaDropdown-bg li a {
      color: #000;
      
      &:hover {
        color: #d81b60;
      }
    }
  }

  box-shadow: 0px 5px 29px 0px rgba(11, 35, 61, 0.18);

  .fix-shadow {
    box-shadow: 0px 5px 29px 0px rgba(11, 35, 61, 0.5);
    left: 0;
    position: fixed;
    background: #fff;
    z-index: -1;
    height: 55px;
    top: 0px;
    width: 100%;
    display: block;
    opacity: 0;
    transition-duration: 0.80s;
    transition-delay: 1.2s;
    transition-timing-function: $easing-main;
    transition-delay: 0.25s;
  }

  #about-me & {
    // background: #0B233D;
    .navigation-button-wrap, .fix-shadow {
      background: #0B233D;
      
      a {
        color: #fff;
        &:after {
          border-color: #6c757d;
        }
      }
    }
    .logo-text {
      color: #fff;
    }
  }

  //&.nav-v2 {
  //  position: sticky;
  //  position: -webkit-sticky;
  //  box-shadow: 0px 1px 6px 0px rgba(11, 35, 61, 0);
  //}

  ul.nav-link-section {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    transition-duration: 0s;
  }

  .nav-link-section {
    >li {
      text-decoration: none;
      color: #000;
      line-height: 55px;
      display: inline-block;
    }

    a {
      text-decoration: none;
      color: #000;
      padding: 0 1em 0;
      transform: translatey(1px);
    }
  }
}

.nav-dropdown {
  display: block !important;
  padding: 0;

  li a {
    padding: 0 !important;
  }
}

.nav-megaDropdown-bg li {
  display: block;
  padding: 0;
  line-height: initial;
}

.dropdown-image {
  width: 100%;
  height: 320px;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  transition-duration: 0.70s;
  transition-timing-function: $easing-main;
  transition-delay: 0.2s;
  outline: rgba(0, 0, 0, 0) 0px solid;
  outline-offset: 0;
}

.navbar-dropdown-wrap {
  padding-left: 6em;
  margin-top: 35px;
  opacity: 0;
  transform: translateX(-20%) scale(1.5);
  transition-delay: 0.1s;
  transition-duration: 0.80s;
  transition-timing-function: cubic-bezier(0.95, 0.01, 0.03, 1.03);

  display: block;
  visibility: unset;

  h2 {
    margin-block-end: 0.5em;
  }
}


ul li:hover> {

  .nav-megaDropdown-bg,
  .fix-shadow {
    visibility: visible;
    transform: translateZ(0) translate(0);
    display: block;
    opacity: 1;
  }
}

ul li ul li {
  clear: both;
  width: 100%;
}

.nav-header-main .logo-space img {
  transform: translate(10px, -3px) scale(1);
  pointer-events: none;
}

.logo-space {
  float: left;
  overflow: visible;
  // this part is to center the logo vertically
  transform: translate(0, calc($base-height / 2 - (25px * $base-height / 80px)));
  width: auto;

  a {
    color: #000;
    border: 0;
    text-decoration: none;
  }

  img,
  svg {
    margin-right: 0.3em;
    height: auto;
    transform: translateY(0) scale(.5);
    width: $base-height;
  }
}

.nav-header-main .logo-text {
  opacity: 0;
}

.logo-text {
  padding: 0;
  font-weight: 800;
  transform: translateX(-29px);
  font-size: 1.3em;
  text-transform: uppercase;
  //letter-spacing: 0.1em;
  font-family: "sen", sans-serif;
  display: inline-flex;
  opacity: 1;

  .letter {
    // display: inline-block;
    // line-height: 1em; 
    transition: none;
    font-family: "sen", sans-serif !important;
    transform: translateZ(0);
    will-change: transform;
  }
}

a.nav-button {
  position: relative;
  display: block;
  // display: inline-grid; disabled

  i {
    line-height: unset;
  }

  //disabled
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: #0b233d 6px solid;
    transform: scaleX(0) translateY(-24px);
    transition-delay: 0.1s;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.4, 0.6, 0.13, 0.96);
  }
  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:after {
      transform: scaleX(0.85) translateY(-24px);
    }
    &::before {
      cursor: not-allowed;
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: #D81B60 13px solid;
    transform: scaleX(0);
    transition-delay: 0.1s;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.4, 0.6, 0.13, 0.96);
    cursor: pointer;
  }


  &:hover:before, &.on:before {
    transform: scaleX(0.5);
  }

  &:hover {
    color: rgba(0, 0, 0, 0.459);
  }

  &:active {
    transform: scale(0.8) translateY(3px);
    transition-duration: 50ms;
  }

}

.fix-blink-temp {
  position: fixed;
  background: #fff;
  z-index: -1;
  height: 55px;
  top: 0px;
  width: 100%;
  display: block;
}

// .nav-v2 .fix-blink-temp {
//   display: none;
// }

.nav-break {
  height: 55px;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  padding: 0 1em;

  width: calc(2em * 18.4);
  display: inline-block;
}

// .nav-v2 .nav-break {
//   padding: 0 !important;
// }

.nav-header-main .nav-break-its-free-real-estate {
  width: auto;
}

.nav-break-its-free-real-estate {
  width: 100%;
  height: 55px;
  display: inline-flex;
  position: absolute;

  /* display: flex; */
  /* flex-direction: column; */
  flex-wrap: wrap;
  transition-duration: 0s;
}

/*.nav-v2 .nav-breaking-percau {    
  }
  */

.nav-breaking-percau {
  // width: 670px;
  position: relative;
  display: inline-grid;
  padding: 0;
  flex-grow: 1;

  &:before {
    content: " ";
    position: absolute;
    height: 55px;
    width: 50px;
    top: 0;
    z-index: 1;
  }

  &:after {
    content: " ";
    position: absolute;
    height: 55px;
    width: 50px;
    top: 0;
    z-index: 1;
    left: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 49%, rgba(255, 255, 255, 0) 100%);
  }

  &:before {
    right: 0;
    background: linear-gradient(270deg, rgba(255, 255, 255, 1) 49%, rgba(255, 255, 255, 0) 100%);
  }
}

/* Nav header main */
.nav-header-main .nav-breaking-percau {
  // width: 690px;

  /* max-width: 690px; */
  position: relative;
  display: inline-grid;
  padding: 0;
  flex-grow: 0;
}

.nav-primary.navigation.nav-header-main {
  background: none;
  box-shadow: none;
  transform: translateY(2.7rem);
}

// this is probably useless
.nav-header-main .grid-container.fluid {
  //padding-right: 6.8rem !important;
  //padding-left: 6.8rem !important;
  max-width: 100%;
  margin: 0 auto;
  height: $base-height;
}

.navigation-button-wrap {
  position: relative;
  display: inline-flex;
  padding: 0;

  /*flex-grow: 1;*/
  flex-shrink: 1;

  /* width: 100%; */
  /* align-content: flex-end; */
  /* float: right; */
  height: $base-height;
  border-radius: calc($nav-height / 2);
  margin-left: auto;
  order: 2;
  background: #ffffff;
}

}

// small screens
@media screen and (max-width: 39.9375em) {
  @include nav($base-height: $nav-height-mobile)
}
// beyond mobile
@media screen and (min-width: 40em) {
  @include nav($base-height: $nav-height);

  // Navigation cursors:
  #navigation-cursor {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.5em;
    width: 0;
    background: #0060A8;
    transition-delay: 0.3s;
  
    &.trailing, &.leaving-not-trailing {
      transition-delay: 0s;
    }
  }
  .cursor-endings {
    bottom: 0;
    height: calc($nav-height / 2);
    position: absolute;
    width: calc($nav-height / 2);
    //display: none;
  
    overflow: hidden;
    
    &::after {
      content: " ";
      position: absolute;
      border-bottom: .5em solid #0060A8;
      height: calc($nav-height / 2 - 0.5em);
      width: calc($nav-height / 2 - 0.5em);
      transition: all 0.3s;
      
    }
  
    &.left {
      left: 0;
  
      &::after {
        border-bottom-left-radius:100%;
        border-left: 0.5em solid #0060A8;
        transform-origin: top right;
        transform: rotate(-90deg);
        transition-delay: 0s;
      }
    }
    
    &.right {
      right: 0;
  
      &::after { 
        border-bottom-right-radius: 100%;
        border-right: 0.5em solid #0060A8;
        transform-origin: top left;
        transform: rotate(90deg);
      }
    }
  
    &.active {
      display: block;
      
      &::after {
        transition-delay: .6s;
        transform: rotate(0deg);
      }
    }
  }
  .fluid .cursor-endings.active.left:after {
    transform: rotate(-90deg);
  }
  .fluid .cursor-endings.active.right:after {
    transform: rotate(90deg);
  }
}

.nav-header-main .navigation-button-wrap {
  flex-grow: 0;
  background: linear-gradient(0deg,rgba(0,96,168,.05),rgba(0,96,168,.05)),#fbfdfd;
  //box-shadow: 0px 5px 29px 0px rgba(11, 35, 61, 0.5);
  
}

nav {
  display: flex;
  align-items: center;
  gap: 1.4em;
  padding: 0 1.9em;

  a {
    font-weight: 700;
    text-decoration: none;
    color: #43474E;
  }

  #hamborger {
    display: none;

    span {
      font-size: 36px;
      display: flex;
    }
  }

  @media screen and (max-width: 39.9375em) {
    gap: 0; 
    padding: 0 1.2em;
    #hamborger {
      display: inline; 
    }
  }

  a:not(#hamborger) {
    @media screen and (max-width: 39.9375em) {
      span, & {
        font-size: 0px;
      }
      //display: none;
    }
  }

  /* &:hover {
    a {
      color: #73777f9f;

      &:hover {
        color: #43474E;
      }
    }
  } */
}
.nav-hamburger {
  background: #A33B81;
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: none;
  position: absolute;
  z-index: 1;
}



/* Breadcrumbs */

.breadcrumb {
  margin: 0;
  padding-inline-start: 0;
}
.breadcrumb-item {
  display: inline;
}

.breadcrumb-item+.breadcrumb-item:hover::before {
  text-decoration: none;
}

.breadcrumb-item+.breadcrumb-item::before {
  display: inline-block;
  padding: 0 0.7em;
  color: #6c757d;
  content: "/";
}